
h1{
	font-size: 24px;
	font-weight: 450;
	color: #3b4d64 !important;
}

.alinharDireita{
	text-align: right;
}

.alinharEsquerda{
	text-align: left;
}

.alinharRetornar{
	margin-left: 90%;
	margin-top: 2%
}

.alinharCabecalho{
	margin-left: 2%;
	margin-top: 2%;
}

.tabela{
	width: 100%;
}

.corBranca{
	color: white;
}

.corDeFundo .ui-panel-titlebar{
	background-color: #99CC32;
}

.ui-datatable-header{
	background-color: 99CC32;
}